.place__image {
  max-width: 460px;
  min-height: 460px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
    /* padding-bottom: 8.5%; */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
    min-height: 340px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .place__image {
    max-width: 330px;
    min-height: 330px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
    padding-bottom: 0;
  }
}