.header__logo {
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
.header__logo {
    margin-left:  24px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
.header__logo {
    max-width: 142px;
    min-height: 42px;
    margin-top: 11px;
    margin-left: 16px;
    }
}