.footer__links {
    list-style-type: none;
    max-width: 50%;
    display: flex;
    padding: 0;
}

@media screen and (max-width: 320px) {
.footer__links {
    display: flex;
    flex-direction: column;
    }
}