.place__paragraph_two {
    max-width: 484px;
    min-height: 150px;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
.place__paragraph_two {
    max-width: 456px;
    min-height: 110px;
    }
    }