.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
}

@media (min-width: 320px) and (max-width: 424px) {
.footer__copyright {
    margin: 0;
    }
  }