.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  padding-top: 18px;
  margin-top: 0;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin: 0;
    padding-right: 13%;
    padding-top: 5px;
  }
}
