.lead__image {
    max-width: 77%;
    min-height: 618px;
    margin: 0 148px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
.lead__image {
    max-width: 927px;
    min-height: 580px;
    margin: 0 0 0 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
.lead__image {
    max-width: 768px;
    min-height: 480px;
    margin: 0;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
.lead__image {
    max-width: 320px;
    min-height: 200px;
    margin: 0;
    padding-bottom: 6px;
    }
}