.intro__text {
  max-width: 690px;
  min-height: 208px;
  font-size: 16px;
  line-height: 26px;
/* or 162% */
  margin: 9px auto 36px 148px;
}

@media screen and (max-width: 1024px) {
.intro__text {
  margin: 0 auto 37px 48px;
  }
}

@media screen and (max-width: 768px) {
.intro__text {
  max-width: 720px;
  margin: 0 auto 37px 24px;
  }
}

@media screen and (max-width: 320px) {
.intro__text {
  max-width: 288px;
  margin: 0 auto 35px 16px;
  }
}

