.place__link {
    max-width: 456px;
    min-height: 22px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin: 0;
}

.place__link:hover {
    opacity: 0.5;
}

@media (min-width: 768px) and (max-width: 1023px) {
.place__link {
    max-width: 352px;
    min-width: 22px;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
.place__link {
    display: none;
    }
}