.cover__overlay {
  width: 1184px;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.8;
}

.cover__overlay:hover {
  opacity: 0.3;
  background: #2A2C2F;
}

@media screen and (max-width: 1279px) {
.cover__overlay {
  max-width: 99%;
  padding-left: 0;
  padding-right: 0;
  }
}
  