.cover__overlay {
  max-width: 1184px;
  min-height: 740px;
  padding: 0% 4%;
  opacity: 1;
}

.cover__overlay:hover {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
.cover__overlay {
  max-width: 1006px;
  min-height: 640px;
  padding: 0 0;
  }
}
  
@media screen and (max-width: 768px) {
.cover__overlay {
  max-width: 768px;
  min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
.cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}