.cover__title {
    max-width: 560px;
    min-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 2;
    margin: 0 0 2% 0;
    padding: 0;
}

@media (min-width: 530px) and (max-width: 767px) {
.cover__title {
    padding-left: 15%;
    font-size: 50px;
    font-weight: 35px;
    max-width: 360px;
    }
}

@media (min-width: 425px) and (max-width: 529px) {
    .cover__title {
        font-size: 45px;
        font-weight: 32px;
        max-width: 350px;
        padding-left: 15%;
        }
    }

@media (min-width: 320px) and (max-width: 424px) {
.cover__title {
    max-width: 225px;
    min-height: 70px;
    font-size: 32px;
    line-height: 35px;
    }
}