@import url("./__links/footer__links.css");
@import url("./__link/footer__link.css");
@import url("./__link_text/footer__link-text.css");
@import url("./__copyright/footer__copyright.css");
@import url("./__menu/footer__menu.css");

.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    padding: 5.8% 0 24px 4%;
}

@media screen and (max-width: 1279px) {
.footer {
    max-width: 928px;
    padding-top: 7.8%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding: 8.8% 0 27px 3%;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
  }
}

@media (min-width: 425px) and (max-width: 480px) {
  .footer {
    padding-top: 0;
  }
}

