.place__website {
    max-width: 456px;
    align-self: flex-end;
}


@media (min-width: 768px) and (max-width: 1023px) {
.place__website {
    max-width: 352px;
    }
}

@media (min-width: 425px) and (max-width: 666px) {
.place__website {
    align-self: flex-start;
    padding: 5% 0;
    }
}

@media screen and (max-width: 319px) {
.place__website {
    display: none;
    }
}
